body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-image: url("bgpic.jpg");
    background-size: cover;
    background-repeat: repeat;

  }
  
  h1 {
    text-align: center;
    color: #daa520;
    text-shadow: 0 0 20px #000000, 0 0 20px #000000;
  }
  
  label {
    font-weight: bold;
    display: block;
    margin-top: 20px;
    color: #daa520;
    
  }
  
  input[type="text"] {
    width: 100%;
    padding: 5px;
    font-size: 16px;
      background-color:  #000000;
    color: #daa520;
  }
  
  button {


 
    /* Button Styles */
  /* margin-right: 100px;
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  background-color: #e27414;
  color: #FFFFFF;
  border-radius: 4px;
  border: none;
  transition: background-color 0.3s ease;
  cursor: pointer; */
  
    --c: #daa520;
    color: var(--c);
    font-size: 16px;
    border: 0.3em solid var(--c);
    border-radius: 0.5em;
    width: 12em;
    height: 3em;
    text-transform: uppercase;
    font-weight: bold;
    font-family: sans-serif;
    letter-spacing: 0.1em;
    text-align: center;
    line-height: 3em;
    position: relative;
    overflow: hidden;
    z-index: 1;
    transition: 0.5s;
    margin: 1em;
    background-color: #000000;
    margin-right: 285px;
  
}

button span {
  position: absolute;
  width: 25%;
  height: 100%;
  background-color: var(--c);
  transform: translateY(150%);
  border-radius: 50%;
  left: calc((var(--n) - 1) * 25%);
  transition: 0.5s;
  transition-delay: calc((var(--n) - 1) * 0.1s);
  z-index: -1;
}

button:hover {
  color: black;
  box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.7s);
}

button:hover span {
  transform: translateY(0) scale(2);
}

button span:nth-child(1) {
  --n: 1;
}

button span:nth-child(2) {
  --n: 2;
}

button span:nth-child(3) {
  --n: 3;
}

button span:nth-child(4) {
  --n: 4;
}

/* .rounded-corners {
  border-radius: 5px;
}

.button:hover {
  background-color: #45a049;
}

.button:active {
  background-color: #3e8e41;
}

.button:focus {
  outline: none;
  box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.2);

  } */
  
  #output {
    margin-top: 20px;
    font-weight: bold;
    color: #daa520;
    width: 150px;
    height: 25px;
    text-shadow: 0 0 8px #000000, 0 0 8px #000000;
    font-weight: bolder;
  }
  
